<section class="section" id="about-us">
  <div class="container about-container">
    <div class="about-text">
      <h2 class="section-title about-title">About Us</h2>
      <p class="section-text about-text-upper">
        Welcome to our premium watch collection, where luxury and style meet
        functionality and precision. Our selection of timepieces embodies the
        very best in Swiss craftsmanship and engineering, ensuring that you'll
        always have a reliable and stylish accessory on your wrist.
      </p>
      <p class="section-text about-text-lower">
        At our premium watch collection, we believe that a watch is more than
        just a timekeeping device – it's a statement piece that reflects your
        personality and style. So why settle for anything less than the best?
      </p>
      <a href="#catalog" class="about-link">View catalog</a>
    </div>
    <div class="about-image">
      <div class="about-image-grd"></div>
      <picture>
        <source
          srcset="
            ./img/section-about/about-1x.jpeg 1x,
            ./img/section-about/about-2x.jpeg 2x
          "
          media="(min-width: 1280px)" />
        <source
          srcset="
            ./img/section-about/about-tab-1x.jpeg 1x,
            ./img/section-about/about-tab-2x.jpeg 2x
          "
          media="(min-width: 768px)" />
        <source
          srcset="
            ./img/section-about/about-mob-1x.jpeg 1x,
            ./img/section-about/about-mob-2x.jpeg 2x
          "
          media="(max-width: 767px)" />
        <img
          class="about-image-pic"
          src="./img/section-about/about-mob-1x.jpeg"
          alt="Watch on the fabric"
      /></picture>
    </div>
  </div>
</section>
