<section class="section" id="catalog">
  <div class="container">
    <h2 class="section-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <picture class="catalog-picture"
          ><source
            srcset="
              ./img/section-catalog/catalog-1-1x.png 1x,
              ./img/section-catalog/catalog-1-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/section-catalog/catalog-tab-1-1x.png 1x,
              ./img/section-catalog/catalog-tab-1-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/section-catalog/catalog-mob-1x.png   1x,
              ./img/section-catalog/catalog-mob-1-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="catalog-image"
            src="./img/section-catalog/catalog-1-1x.png"
            alt=""
          />
        </picture>
        <h3 class="catalog-subtitle">Garmin Fenix 7X Pro Sapphire Solar</h3>
        <p class="catalog-text">€500</p>
      </li>
      <li class="catalog-item">
        <picture class="catalog-picture"
          ><source
            srcset="
              ./img/section-catalog/catalog-2-1x.png 1x,
              ./img/section-catalog/catalog-2-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/section-catalog/catalog-tab-2-1x.png 1x,
              ./img/section-catalog/catalog-tab-2-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/section-catalog/catalog-mob-2-1x.png 1x,
              ./img/section-catalog/catalog-mob-2-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="catalog-image"
            src="./img/section-catalog/catalog-2-1x.png"
            alt=""
          />
        </picture>
        <h3 class="catalog-subtitle">Garmin Marq Athlete</h3>
        <p class="catalog-text">€450</p>
      </li>
      <li class="catalog-item">
        <picture class="catalog-picture"
          ><source
            srcset="
              ./img/section-catalog/catalog-3-1x.png 1x,
              ./img/section-catalog/catalog-3-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/section-catalog/catalog-tab-3-1x.png 1x,
              ./img/section-catalog/catalog-tab-3-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/section-catalog/catalog-mob-3-1x.png 1x,
              ./img/section-catalog/catalog-mob-3-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="catalog-image"
            src="./img/section-catalog/catalog-3-1x.png"
            alt=""
          />
        </picture>
        <h3 class="catalog-subtitle">Garmin Descent MK1</h3>
        <p class="catalog-text">€680</p>
      </li>
      <li class="catalog-item">
        <picture class="catalog-picture"
          ><source
            srcset="
              ./img/section-catalog/catalog-4-1x.png 1x,
              ./img/section-catalog/catalog-4-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/section-catalog/catalog-tab-4-1x.png 1x,
              ./img/section-catalog/catalog-tab-4-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/section-catalog/catalog-mob-4-1x.png 1x,
              ./img/section-catalog/catalog-mob-4-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="catalog-image"
            src="./img/section-catalog/catalog-4-1x.png"
            alt=""
          />
        </picture>
        <h3 class="catalog-subtitle">Garmin D2 Delta PX</h3>
        <p class="catalog-text">€380</p>
      </li>
      <li class="catalog-item catalog-mob-none">
        <picture class="catalog-picture"
          ><source
            srcset="
              ./img/section-catalog/catalog-5-1x.png 1x,
              ./img/section-catalog/catalog-5-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/section-catalog/catalog-tab-5-1x.png 1x,
              ./img/section-catalog/catalog-tab-5-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="catalog-image"
            src="./img/section-catalog/catalog-5-1x.png"
            alt=""
          />
        </picture>
        <h3 class="catalog-subtitle">Garmin Fenix 6 Pro Solar</h3>
        <p class="catalog-text">€400</p>
      </li>
      <li class="catalog-item catalog-mob-none">
        <picture class="catalog-picture"
          ><source
            srcset="
              ./img/section-catalog/catalog-6-1x.png 1x,
              ./img/section-catalog/catalog-6-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/section-catalog/catalog-tab-6-1x.png 1x,
              ./img/section-catalog/catalog-tab-6-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="catalog-image"
            src="./img/section-catalog/catalog-6-1x.png"
            alt=""
          />
        </picture>
        <h3 class="catalog-subtitle">
          Tube Watch S42 Date Steel With Black Case
        </h3>
        <p class="catalog-text">€395</p>
      </li>
    </ul>
    <button class="catalog-button" type="button">Show more</button>
  </div>
</section>
