<section class="section" id="contact-us">
  <div class="container">
    <h2 class="section-title">Contact Us</h2>
    <div class="contact-us-box">
      <div class="inform-contact-us">
        <p class="text-contact-us">
          Please use the form below to contact us. Enter your name, email,
          phone, and message and we'll get back to you shortly.
        </p>
        <form class="contact-form">
          <label for="user-name" class="contact-lab"></label>
          <input
            type="text"
            class="contact-input"
            name="user-name"
            id="user-name"
            placeholder="Name"
            required
          />
          <label for="user-email" class="contact-lab"></label>
          <input
            type="email"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            class="contact-input"
            name="user-email"
            id="user-email"
            placeholder="Email"
            required
          />
          <label for="user-tel" class="contact-lab"></label>
          <input
            type="tel"
            pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$"
            class="contact-input"
            name="user-tel"
            id="user-tel"
            placeholder="+380"
            required
          />
          <textarea
            name="user-comment"
            id="user-comment"
            class="contact-area"
            placeholder="Comment"
          ></textarea>
          <button type="submit" class="contact-btn">Send</button>
        </form>
      </div>
      <div class="contact-image">
        <picture>
          <source
            srcset="
              ./img/section-contact/contact-1x.jpeg 1x,
              ./img/section-contact/contact-2x.jpeg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/section-contact/contact-tab-1x.jpeg 1x,
              ./img/section-contact/contact-tab-2x.jpeg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/section-contact/contact-mob-1x.jpeg 1x,
              ./img/section-contact/contact-mob-2x.jpeg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/section-contact/contact-1x.jpeg"
            alt="watch on stone"
            class="photo-contact"
            width="335"
            height="512"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
