<section class="section">
  <div class="container">
    <h2 class="section-title">Contact Us</h2>
    <div class="inform-contact-us">
      <p class="text-contact-us">
        Please use the form below to contact us. Enter your name, email, phone,
        and message and we'll get back to you shortly.
      </p>
      <form class="contact-form">
        <input
          type="text"
          class="contact-input"
          name="user-name"
          placeholder="Name"
        />
        <input
          type="email"
          class="contact-input"
          name="user-email"
          placeholder="Email"
        />
        <input
          type="tel"
          class="contact-input"
          name="user-tel"
          placeholder="+380"
        />
        <textarea name="" id="" class="contact-area">Comment</textarea>
      </form>
      <button type="submit" class="contact-btn">Send</button>
    </div>
  </div>
  <picture>
    <source srcset="" />
    <source srcset="" />
    <!-- <source srcset="./img/section-contact/contact-1x.jpeg" /> -->
    <img src="" alt="" class="contact-image" />
  </picture>
</section>
