<footer class="section-footer" id="footer">
  <div class="container footer-container">
    <div class="footer-content">
      <div class="group">
        <div class="logo-footer">
          <a href="./index.html" class="logo-link">watchcharm</a> 
          <ul class="soc-media">
            <li class="soc-media-items">
              <a
                href="https://www.facebook.com/goITclub/" target="_blank"
                class="soc-media-links"
              >
                <svg class="icon-footer" width="18" height="18">
                  <use href="./img/symbol-defs.svg#icon-facebook"></use></svg></a>
            </li>
            <li class="soc-media-items">
              <a
                href="https://www.instagram.com/goitclub/" target="_blank"
                class="soc-media-links"
              >
              <svg class="icon-footer" width="18" height="18">
                <use href="./img/symbol-defs.svg#icon-instagram"></use>
              </svg></a>
            </li>
            <li class="soc-media-items">
              <a href="https://www.youtube.com/c/GoIT" target="_blank" class="soc-media-links"
                ><svg class="icon-footer" width="18" height="18">
                  <use href="./img/symbol-defs.svg#icon-youtube"></use></svg></a>
            </li>
          </ul>
        </div>
        <div class="tel-footer-container">
          <a href="tel:+380684439426" class="tel-footer">+380 (68) 443-94-26</a>
        </div>
        <p class="slogan">
          Have the time of your life with our watches: where high-class
          craftsmanship meets impeccable design
        </p>
      </div>
      <div class="bottom-group">
      <div class="adres-links">
        <ul class="footer-links">
          <li class="footer-items">
            <a href="./index.html" class="footer-links-items">Home</a>
          </li>
          <li class="footer-items">
            <a href="#about-us" class="footer-links-items">About Us</a>
          </li>
          <li class="footer-items">
            <a href="#catalog" class="footer-links-items">Catalog</a>
          </li>
          <li class="footer-items">
            <a href="#sale" class="footer-links-items">Sale</a>
          </li>
          <li class="footer-items">
            <a href="#reviews" class="footer-links-items">Reviews</a>
          </li>
          <li class="footer-items">
            <a href="#contact-us" class="footer-links-items">Contact Us</a>
          </li>
        </ul>
        <p class="footer-adres">1678 S. Pioneer Road Salt Lake City UT 84104</p>
      </div>
      <!-- <div class="footer-line"></div> -->
      <div class="terms-items">
        <p class="copyright-footer">
          ©2023 The Watch Spot. All rights reserved.
        </p>
        <ul class="terms-footer">
          <li class="privacy-items-footer"><a href="#">Terms of Service</a></li>
          <li class="privacy-items-footer"><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    </div>
  </div>
</footer>
