<header class="header sticky-head">
    <div class="container header-container">
        <a href="./index.html" class="logo-brand-header">watchcharm</a>
        <nav class="nav">
            <ul class="nav-menu">
                <li><a href="./index.html" class="nav-menu-item current">Home</a></li>
                <li><a href="#about-us" class="nav-menu-item current">About Us</a></li>
                <li><a href="#catalog" class="nav-menu-item current">Catalog</a></li>
                <li><a href="#sale" class="nav-menu-item current">Sale</a></li>
                <li><a href="#reviews" class="nav-menu-item current">Reviews</a></li>
                <li><a href="#contact-us" class="nav-menu-item current">Contact Us</a></li>
            </ul>
        </nav>
        <address class="address">
            <ul class="address-list">
                <li class="mob-icon-team-media">
                    <a href="https://www.facebook.com/goITclub/" target="_blank" class="mob-icon-link">
                        <svg class="icon-social-header" width="20" height="20">
                            <use href="./img/symbol-defs.svg#icon-facebook">
                            </use>
                        </svg>
                    </a>
                </li>

                <li class="mob-icon-team-media">
                    <a href="https://www.instagram.com/goitclub/" target="_blank" class="mob-icon-link">
                        <svg class="icon-social-header" width="20" height="20">
                            <use href="./img/symbol-defs.svg#icon-instagram">
                            </use>
                        </svg>
                    </a>
                </li>


                <li class="mob-icon-team-media">
                    <a href="https://www.youtube.com/c/GoIT" target="_blank" class="mob-icon-link">
                        <svg class="icon-social-header" width="20" height="20">
                            <use href="./img/symbol-defs.svg#icon-youtube">
                            </use>
                        </svg>
                    </a>
                </li>
            </ul>
        </address>

        <button type="button" class="menu-btn js-open-menu">
            <svg class="open-btn" width="34" height="34">
                <use href="./img/symbol-defs.svg#icon-menu">
                </use>
            </svg>
        </button>
    </div>


    <!-- mob-menu -->
    <div class="mobile-menu js-menu-container">
        <button type="button" class="modal-close-btn js-close-menu">
            <svg class="modal-icon" width="34" height="34">
                <use href="./img/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>
        <ul class="mob-nav-menu">
            <li><a href="./index.html" class="mob-nav-menu-item mob-current">Home</a></li>
                <li><a href="#about-us" class="mob-nav-menu-item mob-current">About Us</a></li>
                <li><a href="#catalog" class="mob-nav-menu-item mob-current">Catalog</a></li>
                <li><a href="#sale" class="mob-nav-menu-item mob-current">Sale</a></li>
                <li><a href="#reviews" class="mob-nav-menu-item mob-current">Reviews</a></li>
                <li><a href="#contact-us" class="mob-nav-menu-item mob-current">Contact Us</a></li>
        </ul>

        <div class="icon-list-box">
            <ul class="mob-icon-list">
                <li class="mob-icon-media">
                    <a href="https://www.facebook.com/goITclub/" target="_blank" class="mob-icon-link">
                        <svg class="icon-social-mob" width="34" height="34">
                            <use href="./img/symbol-defs.svg#icon-facebook">
                            </use>
                        </svg>
                    </a>
                </li>

                <li class="mob-icon-media">
                    <a href="https://www.instagram.com/goitclub/" target="_blank" class="mob-icon-link">
                        <svg class="icon-social-mob" width="34" height="34">
                            <use href="./img/symbol-defs.svg#icon-instagram">
                            </use>
                        </svg>
                    </a>
                </li>


                <li class="mob-icon-media">
                    <a href="https://www.youtube.com/c/GoIT" target="_blank" class="mob-icon-link">
                        <svg class="icon-social-mob" width="34" height="34">
                            <use href="./img/symbol-defs.svg#icon-youtube">
                            </use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</header>
