<header class="header">
    <div class="container header-container">
        <nav class="nav">
            <a href="./index.html" class="logo-brand-header">watchcharm</a>
            <ul class="nav-menu">
                <li id="Home"><a href="./index.html" class="nav-menu-item cover">Home</a></li>
                <li id="About Us"><a href="" class="nav-menu-item">About Us</a></li>
                <li id="Catalog"><a href="" class="nav-menu-item">Catalog</a></li>
                <li id="Sale"><a href="" class="nav-menu-item">Sale</a></li>
                <li id="Reviews"><a href="" class="nav-menu-item">Reviews</a></li>
                <li id="Contact Us"><a href="" class="nav-menu-item">Contact Us</a></li>
            </ul>
        </nav>
        <address class="address">
            <ul class="address-list">
                <li class="mob-icon-team-media">
                    <a href="https://www.facebook.com/goITclub/" class="mob-icon-link">
                        <svg class="icon-footer" width="36" height="36">
                            <use href="./img/symbol-defs.svg#icon-facebook">
                            </use>
                        </svg>
                    </a>
                </li>

                <li class="mob-icon-team-media">
                    <a href="https://www.instagram.com/goitclub/" class="mob-icon-link">
                        <svg class="icon-footer" width="36" height="36">
                            <use href="./img/symbol-defs.svg#icon-instagram">
                            </use>
                        </svg>
                    </a>
                </li>


                <li class="mob-icon-team-media">
                    <a href="https://www.youtube.com/c/GoIT" class="mob-icon-link">
                        <svg class="icon-footer" width="36" height="36">
                            <use href="./img/symbol-defs.svg#icon-youtube">
                            </use>
                        </svg>
                    </a>
                </li>
            </ul>
        </address>

        <button type="button" class="menu-btn is-open">
            <svg width="34" height="34">
                <use href="./img/symbol-defs.svg#icon-menu">
                </use>
            </svg>
        </button>
    </div>






    