<section class="hero">
    <div class="container">
        <div class="hero-desc-wrap">
            <div class="hero-text-wrap">
                <h1 class="hero-title">Welcome to our <span class="hero-title-part">collection</span> of premium watches</h1>
                <p class="hero-text">Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.</p>
            </div>
            <div class="hero-link-wrap">
                <ul class="hero-pic-list">
                    <li class="hero-pic-item">
                        <picture>
                            <source srcset="../img/section-hero/hero-1-1x.png 1x, ../img/section-hero/hero-1-2x.png 2x" 
                            media="(min-width: 1280px)">
                            <source
                            media="(min-width: 768px)">
                            <source
                            media="(max-width: 767px)">
                            <img src="../img/section-hero/hero-1-1x.png" alt="blonde girl">
                        </picture>
                    </li>
                    <li class="hero-pic-item">
                        <picture>
                            <source srcset="../img/section-hero/hero-2-1x.png 1x, ../img/section-hero/hero-2-2x.png 2x"
                            media="(min-width: 1280px)">
                            <source
                            media="(min-width: 768px)">
                            <source
                            media="(max-width: 767px)">
                            <img  src="../img/section-hero/hero-2-1x.png" alt="man with glasses">
                        </picture>
                    </li>
                    <li class="hero-pic-item">
                        <picture>
                            <source srcset="../img/section-hero/hero-3-1x.png 1x, ../img/section-hero/hero-3-2x.png 2x"
                            media="(min-width: 1280px)">
                            <source
                            media="(min-width: 768px)">
                            <source
                            media="(max-width: 767px)">
                            <img  src="../img/section-hero/hero-3-1x.png" alt="brown-haired girl">
                        </picture>
                    </li>
                </ul>
                <a class="hero-link-skroll" href="">Scroll down</a>
            </div>
        </div>
        <div class="hero-image"></div>
    </div>
</section>