<section class="hero">
    <div class="container">
        <div class="hero-desc-wrap">
            <div class="hero-text-wrap">
                <h1 class="hero-title">Welcome to our <span class="hero-title-part">collection</span> of premium watches</h1>
                <p class="hero-text">Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.</p>
            </div>
            <div class="hero-link-wrap">
                <picture>
                    <source srcset="/img/section-hero/hero-people-1x.png 1x, /img/section-hero/hero-people-2x.png 2x" 
                    media="(min-width: 1280px)">
                    <source srcset="/img/section-hero/hero-people-tab-1x.png 1x, /img/section-hero/hero-people-tab-2x.png 2x"
                    media="(min-width: 768px)">
                    <source srcset="/img/section-hero/hero-people-mob-1x.png 1x, /img/section-hero/hero-people-mob-2x.png 2x"
                    media="(max-width: 767px)">
                    <img src="/img/section-hero/hero-people-1x.png" alt="people">
                </picture>
                <a class="hero-link-skroll" href="#footer">Scroll down</a>
            </div>
        </div>
                <picture>
                        <source class="hero-image" srcset="/img/section-hero/hero-background-1x.jpeg 1x, /img/section-hero/hero-background-2x.jpeg 2x" 
                        media="(min-width: 1280px)">
                        <source class="hero-image" srcset="/img/section-hero/hero-background-tab-1x.jpeg 1x, /img/section-hero/hero-background-tab-2x.jpeg 2x"
                        media="(min-width: 768px)">
                        <source class="hero-image" srcset="/img/section-hero/hero-background-mob-1x.jpeg 1x, /img/section-hero/hero-background-mob-2x.jpeg 2x"
                        media="(max-width: 767px)">
                        <img class="hero-image" src="/img/section-hero/hero-background-1x.jpeg" alt="watch">
                </picture>
    </div>
</section>