<section class="section" id="reviews">
  <div class="container">
    <h2 class="section-title">Reviews</h2>
    <ul class="review-list">
      <li class="review">
        <img 
        class="reviewer-img" 
        srcset="./img/section-reviews/reviews-1-1x.png 1x, 
        ./img/section-reviews/reviews-1-2x.png 2x"
        src="./img/section-reviews/reviews-1-1x.png"  
        alt="man with glasses" />
        <h3 class="reviewer-name">John Wax</h3>
        <p class="section-text review-text">
          Buying a watch from was the best choice for me. The design is
          perfectly combined with high quality materials. The strap fits nicely
          on the hand, and the mechanism works flawlessly.
        </p>
      </li>
      <li class="review">
        <img 
        class="reviewer-img" 
        srcset="./img/section-reviews/reviews-2-1x.png 1x, 
        ./img/section-reviews/reviews-2-2x.png 2x"
        src="./img/section-reviews/reviews-2-1x.png" 
        alt="woman with hand near face" />
        <h3 class="reviewer-name">Victoria Romashenko</h3>
        <p class="section-text review-text">
          Can't take my eyes off my watch from. Every time I put it on, it is
          admired by those around me. The build quality and attention to detail
          make it a real gem among my accessories.
        </p>
      </li>
      <li class="review">
        <img 
        class="reviewer-img" 
        srcset="./img/section-reviews/reviews-3-1x.png 1x, 
        ./img/section-reviews/reviews-3-2x.png 2x"
        src="./img/section-reviews/reviews-3-1x.png" 
        alt="woman with glasses" />
        <h3 class="reviewer-name">Anastasia Trachuk</h3>
        <p class="section-text review-text">
          My watch from is a real masterpiece. Every detail impresses with the
          high quality of execution. Special features like [specify features]
          make it an indispensable companion in my daily life.
        </p>
      </li>
    </ul>
  </div>
</section>
