
<section class="section" id="sale">
  <div class="container">
    <h2 class="section-title sale-title">Sale</h2>
    <div class="sale-content">
      <div class="img-box">
        <ul class="underchief-img-list">
          <li class="underchief-img-item">
            <img
              srcset="
                ./img/section-sale/sale-1-1x.png 1x,
                ./img/section-sale/sale-1-2x.png 2x
              "
              src="./img/section-sale/sale-1-1x.png"
              alt="Watch MARQ Commander front view image"
              width="96"
              height="100"
              class="underchief-img"
            />
          </li>
          <li class="underchief-img-item">
            <img
              srcset="
                ./img/section-sale/sale-2-1x.png 1x,
                ./img/section-sale/sale-2-2x.png 2x
              "
              src="./img/section-sale/sale-2-1x.png"
              alt="Watch MARQ Commander front view 2 image"
              width="96"
              height="100"
              class="underchief-img"
            />
          </li>
          <li class="underchief-img-item">
            <img
              srcset="
                ./img/section-sale/sale-3-1x.png 1x,
                ./img/section-sale/sale-3-2x.png 2x
              "
              src="./img/section-sale/sale-3-1x.png"
              alt="Watch MARQ Commander side view image"
              width="96"
              height="100"
              class="underchief-img"
            />
          </li>
          <li class="underchief-img-item">
            <img
              srcset="
                ./img/section-sale/sale-4-1x.png 1x,
                ./img/section-sale/sale-4-2x.png 2x
              "
              src="./img/section-sale/sale-4-1x.png"
              alt="Watch MARQ Commander back view image"
              width="96"
              height="100"
              class="underchief-img"
            />
          </li>
        </ul>
        <div class="chief">
          <img
            srcset="
              ./img/section-sale/sale-big-1x.png 1x,
              ./img/section-sale/sale-big-2x.png 2x
            "
            src="./img/section-sale/sale-big-1x.png"
            alt="Watch MARQ Commander Carbon Edition main image"
            width="328"
            height="398"
            class="chief-img"
          />
        </div>
      </div>
      <div class="sale-description">
        <h3 class="description-tittle">
          MARQ&reg; Commander (Gen 2) - Carbon Edition
        </h3>
        <p class="description-tag">Product tag: 706587</p>
        <div class="description-price">
          <p class="description-new-price">€1500</p>
          <p class="description-old-price">€3000</p>
        </div>
        <p class="description-text">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="description-list">
          <li class="description-item">
            <p class="description-item-text">Fused carbon fiber</p>
          </li>
          <li class="description-item">
            <p class="description-item-text">Grade-5 Titanuim</p>
          </li>
          <li class="description-item">
            <p class="description-item-text">Athlete</p>
          </li>
          <li class="description-item">
            <p class="description-item-text">Golfer</p>
          </li>
          <li class="description-item">
            <p class="description-item-text">Commander</p>
          </li>
          <li class="description-item">
            <p class="description-item-text">Adventurer</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
