.promo-wrap {
  background-image: url(../img/section-advertisement/advertisement-mob-1x.png),
    linear-gradient(#0c0c0c, #0c0c0c);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  padding: 60px 28px;
}

@media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .promo-wrap {
    background-image: url(../img/section-advertisement/advertisement-mob-2x.png),
      linear-gradient(#0c0c0c, #0c0c0c);
  }
}

.promo-text {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 28px;
}

.promo-accent {
  color: rgba(251, 251, 251, 0.5);
}

.promo-btn-link {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
  padding: 15px 43px 15px 44px;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.promo-btn-link:focus,
.promo-btn-link:active,
.promo-btn-link:hover {
  color: #0c0c0c;
  background-color: #fbfbfb;
}

@media screen and (min-width: 768px) {
  .promo-wrap {
    background-image: url(../img/section-advertisement/advertisement-tab-1x.png),
      linear-gradient(#0c0c0c, #0c0c0c);
    padding: 80px 64px;
  }

  @media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .promo-wrap {
      background-image: url(../img/section-advertisement/advertisement-tab-2x.png),
        linear-gradient(#0c0c0c, #0c0c0c);
    }
  }

  .promo-text {
    font-size: 48px;
    line-height: 0.92;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .promo-wrap {
    background-image: url(../img/section-advertisement/advertisement-1x.png),
      linear-gradient(#0c0c0c, #0c0c0c);

    padding: 80px 80px;
    display: flex;
    gap: 140px;
    align-items: flex-start;
  }

  @media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .promo-wrap {
      background-image: url(../img/section-advertisement/advertisement-2x.png),
        linear-gradient(#0c0c0c, #0c0c0c);
    }
  }

  .promo-text {
    padding: 3px 0;
    margin: 0;
  }

  .promo-btn-link {
    flex-shrink: 0;
  }
}
