.catalog-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.catalog-item {
  width: 100%;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  background-color: #f3f3f3;
  padding: 24px 28px;
}
.catalog-mob-none {
  display: none;
}


.catalog-image {
  margin: 0 auto;
  width: 208px;
  height: 226px;
  margin-bottom: 28px;
}

.catalog-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.catalog-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}

.catalog-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
  border-radius: 16px;
  width: 160px;
  height: 48px;
  background-color: #3350e9;
  display: block;
  margin: auto;
  border: none;
}

@media screen and (min-width: 768px) {
  .catalog-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px 16px;
    margin-bottom: 0;
  }

  .catalog-item {
    width: 344px;
    height: 414px;
    padding: 24px 32px;
  }

  .catalog-mob-none {
    display: block;
  }
  .catalog-image {
    width: 268px;
    height: 292px;
  }

  .catalog-subtitle {
    font-size: 20px;
    line-height: 1;
  }

  .catalog-button {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .catalog-image {
    width: 292px;
    height: 292px;
  }

  .catalog-item {
    width: 368px;
    height: 414px;
    gap: 32px 23px;
  }
}
