.inform-contact-us {
    border-radius: 30px;
    padding: 48px 28px;
    height: 512px;
    background: #f3f3f3;
}

.section-title {
    margin-bottom: 24px;
}

.text-contact-us {
    width: 100%;
}

.contact-form {
    margin-top: 28px;
}

.contact-input {
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    padding: 12px 226px 12px 14px;
    width: 279px;
    height: 42px;
    background: #f3f3f3;
    margin-bottom: 18px;
}

.contact-input::placeholder {
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    font-size: 14px; 
    line-height: 1.29;
    color: #0c0c0c;
}

.contact-area {
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    padding: 12px 136px 54px 14px;
    width: 279px;
    height: 84px;
    overflow: hidden;
    background: #f3f3f3;
    resize: none;
    width: 100%;
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    color: #0c0c0c;
}

.contact-btn {
    border-radius: 16px;
    padding: 12px 50px;
    width: 134px;
    height: 42px;
    border: none;
    background: #3350e9;
    text-align: center;
    color: #fbfbfb;
    cursor: pointer;
    font-family: inherit;
    display: block;
    margin-top: 28px;
}

.contact-image {
    border-radius: 30px;
    width: 335px;
    height: 512px;
}





/* Tablet Media */

@media screen and (min-width: 768px) {
    .inform-contact-us {
        border-radius: 50px;
        padding: 50px 122px;
        width: 704px;
        height: 556px;
    }

    .contact-input {
        padding: 16px 398px 16px 18px;
        width: 460px;
        height: 52px;
    }

    .contact-area {
        padding: 16px 315px 54px 16px;
        width: 460px;
        height: 90px;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
    }

    .contact-btn {
        padding: 17px 63px;
        width: 160px;
        height: 52px;
    }
}

/* Desktop Media */

@media screen and (min-width: 1280px) {
    
}