html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
body {
  position: relative;
  font-family: 'Gilroy', sans-serif;
  background-color: #fbfbfb;
}
.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}
.section {
  padding-top: 30px;
  padding-bottom: 30px;
}
.section-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}
.section-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .section-title {
    font-size: 48px;
    line-height: 0.92;
    margin-bottom: 40px;
  }

  .section-text {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 65px;
    padding-right: 65px;
  }

  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
